<!-- Main -->
<div class="wrapper style2">

	<article id="main" class="container special">
		<a href="#" class="image featured"><img src="images/alxstlsunsplash.jpg" alt="" /></a>
		<header>
			<h2><a href="#">My experience is unlike none other, therefore, so is what I've developed and now share.</a></h2>
			<p>
				They say it's better to pay for what you want to learn because time is valuable, well, for gutar playing, 
				it's true. Pay for it now so you don't have to take years wondering how to play correctly.
			</p>
		</header>
		<p>
			The key is in the technique. Playing the guitar with the correct technique is key to playing guitar long-term, pain-free.
			flexHand injuries and other hand related pains cain cause sever strain and playing in the 
			correct technique is key to longevity. 
		</p>
		<footer>
			<a href="#" class="button">Continue Reading</a>
		</footer>
	</article>

</div>
